body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
}

.app__title {
    text-align: center;
}

/* Sublist */

.sublist {
    background-color: ivory;
    text-align: center;
    margin: 0 auto;
    background-color: ivory;
    padding: 100px 0px 100px 0px; 
    max-width: 400px;
}

.sublist__create {
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}

.sublist__done {
    background-color: springgreen;
}

#sublist-input {
    min-width: 75%;
    margin-bottom: 5px;
    padding: 0.5rem;
    border: 2px sandybrown solid;
    background: white;
}

#sublist-button {
    margin-left: 5px;
    color: #d88771;
    background: white;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sublist-checkbox {
    background-color: steelblue;
}

.emergency {
    border: red 2px solid;
}

/* List */

.list {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: ivory;
    padding: 100px 0px 100px 0px; 
}

.w {
    position: relative;
    bottom: 100px;
}

/* List creation */

.list__create {
    position: relative;
    top: 100px;
}

#add-button {
    min-width: 150px;
    min-height: 35px;
    margin: 10px auto;
    border: 2px solid;
    border-radius: 10px;
    font-family: fantasy;
    color: #d88771;
    background: white;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#add-button:hover {
    background: #d88771;
    color: white;
}

#add-input {
    min-width: 200px;
    border: 2px solid;
    border-radius: 10px;
    font-family: fantasy;
}

.list__listings {
    margin: 0.5rem;
    background-color: khaki;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.completed {
    background-color: turquoise;
    margin: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.list__item {
    color: black;
    text-decoration: none;
    word-break: break-all;
}

#list-remove {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    font-size: 1rem;
}

/* Select Filter */

select {
    outline: none;
    border: none;
    color: #ff6f47;
    cursor: pointer;
    padding: 1rem;
}

