body {
    background-color: #333;
    font-style: italic;
}

.app__title {
    text-align: center;
}

/* Sublist */

.sublist {
    background-color: ivory;
    text-align: center;
    margin: 0 auto;
    background-color: ivory;
    padding: 100px 0px 100px 0px; 
    max-width: 400px;
}

.sublist__create {
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}

.sublist__done {
    background-color: lightseagreen;
}

#sublist-input {
    min-width: 75%;
    margin-bottom: 5px;
}

#sublist-button {
    margin-left: 5px;
}

.emergency {
    border: red 2px solid;
}

/* List */

.list {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    border-right: #333 3px solid;
    background-color: ivory;
    padding: 100px 0px 100px 0px; 
}

.w {
    position: relative;
    bottom: 100px;
}

/* List creation */

.list__create {
    position: relative;
    top: 100px;
}

#add-button {
    min-width: 150px;
    min-height: 35px;
    margin: 10px auto;
    border: 2px solid;
    border-radius: 10px;
    font-family: fantasy;
}

#add-input {
    min-width: 200px;
    border: 2px solid;
    border-radius: 10px;
    font-family: monospace;
}

.list__item {
    width: 100%;
    background-color: lawngreen;
    font-family: monospace;
    cursor: pointer;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid yellowgreen;
}

#list-remove {
    cursor: pointer;
}